  header {
      background-color: #343a40;
      /* Dark grey for navbar */
      padding: 10px 0;
  }

  header a {
      color: #DFF2E1;
      /* Near to green */
      text-decoration: none;
      margin: 0 15px;
  }

  header a:hover {
      color: #8FCB81;
      /* Lighter green */
  }