.landing-wrapper {
    .container {
        * {
            margin: 5px;
        }
        span {
            border-radius: 50%;
            width: 15px;
            height: 15px;
            padding: 10px;
            background-color: #eeee;
        }
    }
}
