@import "../../../assets/styles/settings";

.Shopex-products {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0 100px;

    .product {
        width: 270px;
        // border: 3px solid black;

        img {
            display: block;
            margin: 30px auto;
        }

        .first {
            text-align: center;
            font-size: 22px;
            font-weight: 700;
            color: $dark-blue;
        }

        .text {
            display: flex;
            margin: 10px auto;
            color: $gray;
            text-align: center;
            font-size: 16px;
        }
    }
}