{% extends 'base.html' %}

{% block title %}
  <title>About us</title>
{% endblock %}

{% block content %}
  <h1>About us</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat doloribus dolore ipsa laudantium iste, natus esse, obcaecati, asperiores corrupti cum harum ipsum consectetur perferendis facere repudiandae aliquid optio! Nostrum incidunt nisi modi obcaecati, similique dolorum esse ipsa earum eveniet sed blanditiis, odio explicabo, doloribus culpa non! Facilis error id vel molestiae rem odio fugiat minus et recusandae natus numquam suscipit quibusdam magnam ex voluptates labore quae voluptatibus accusamus, ullam ipsum iste nisi totam porro? Laboriosam, laborum similique doloremque delectus id nobis exercitationem a commodi velit consequuntur in deleniti. Voluptatibus adipisci consequuntur architecto repudiandae esse, repellat sed nemo! Inventore, deserunt cum!</p>
{% endblock %}
