{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block css %}
<style>
  body,
  h1,
  h2,
  p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  body {
    background-color: #f0f4f7;
    color: #333;
  }

  .container {
    padding: 20px;
  }

  .post-container {
    background-color: #2E2E2E;
    /* Dark grey */
    color: #DFF2E1;
    /* Near to green */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
  }

  .post-container h2 {
    margin-top: 0;
    color: #8FCB81;
    /* Lighter green */
  }

  .post-container p {
    margin: 5px 0;
  }

  .post-container .price,
  .post-container .year,
  .post-container .created-at {
    font-weight: bold;
  }

  @media (max-width: 600px) {
    .post-container {
      padding: 15px;
    }
  }
</style>
{% endblock %}

{% block content %}
<div class="post-container">
  <h2>Title: The Great Adventure</h2>
  <p><strong>Author:</strong> John Doe</p>
  <p><strong>Price:</strong> $19.99</p>
  <p><strong>Year:</strong> 2024</p>
  <p><strong>Created at:</strong> June 27, 2024</p>
  <p><strong>Description:</strong> An exciting journey through uncharted territories.</p>
</div>
{%for book in books%}
<div class="post-container">
  <h2>Title: {{ book.title|title }}</h2>
  <p><strong>Author:</strong> {{ book.author }}</p>
  <p><strong>Price:</strong> ${{ book.price }}</p>
  <p><strong>Year:</strong> {{ book.year }}</p>
  <p><strong>Created at:</strong> {{ book.created_at }}</p>
  <p><strong>Description:</strong> {{ book.description }}</p>
  <p>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'update_book_view' book.id %}">Update book</a>
  </p>
</div>
{%endfor%}


<!-- <h1>Hello world</h1>
  <hr />

  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Price</th>
      <th>Year</th>
      <th>Created at</th>
      <th>Description</th>
    </tr>
    {% for book in books %}
      <tr>
        <td>{{ book.title|title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.year }}</td>
        <td>{{ book.created_at }}</td>
        <td>{{ book.description }}</td>
      </tr>
    {% endfor %}
  </table> -->
{% endblock %}