@use "../../assets/Styles/_resets";
@import "../../assets/Styles/_settings";

header {
    a {
        transform: scale(0.8);
    }
    .main-navbar {
        .upper-nav {
            padding: 0 150px;
            background-color: $violet;
            display: flex;
            justify-content: space-between;

            .upper-left-nav,
            .upper-right-nav {
                @include flex();
                gap: 0;
            }
            .upper-left-nav > *,
            .nav-link a {
                display: inline-block;
                padding: 8px 10px;
            }
            .nav-link:hover {
                background-color: rgb(0, 0, 0, 0.2);
            }
            .upper-left-nav img {
                margin: 0 15px;
            }
            a,
            span {
                text-decoration: none;
                color: $light;
            }
            .upper-right-nav {
                img {
                    margin-left: 3px;
                }
            }
        }
        .bottom-nav {
            padding: 20px 0 10px 0;

            .bottom-nav-wrapper {
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                h3 {
                    font-family: "Sofia", sans-serif;
                    transform: scale(1.4);
                    a {
                        text-decoration: none;
                        transform: scale(1.4);
                        color: black;
                        font-weight: bold;
                        display: inline-block;
                    }
                }

                .bottom-nav-links {
                    text-align: left;

                    a {
                        color: #222;
                        font-family: "Poppins", sans-serif;
                        text-decoration: none;
                        display: inline-block;
                        padding: 10px;
                        margin: 0 10px;
                        border-bottom: 1px solid transparent;
                        position: relative;
                        z-index: 1;

                        &:hover {
                            color: $red;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            top: 0;
                            top: 100%;
                            left: 0;
                            background-color: $red;
                            z-index: -1;
                            transform: scaleX(0);
                            transform-origin: right;
                            transition: transform 0.3s;
                        }
                        &:hover::before {
                            transform: scaleX(1);
                            transform-origin: left;
                        }
                    }
                }

                .bottom-nav-searchbar {
                    @include flex();
                    gap: 0;

                    input,
                    button {
                        border-radius: 0;
                        position: relative;
                        height: 34px;
                    }
                    input {
                        width: 250px;
                        border-right: none;
                        border: 1px solid $gray;
                        bottom: 2px;

                        &:focus {
                            color: black;
                            border-color: $red;
                        }
                    }
                    button {
                        width: 45px;
                        background-color: $red;
                        border: none;
                        bottom: 2px;
                        &:hover {
                            outline: 5px solid $red-t;
                        }
                        img {
                            transform: scale(0.8);
                        }
                    }
                }
            }
        }
    }
}
