@use "../../assets/Styles/_resets";
@import "../../assets/Styles/_settings";

header {
    .main-navbar {
        margin-bottom: 20px;

        .upper-nav {
            padding: 0 150px;
            background-color: $violet;
            display: flex;
            justify-content: space-between;

            .upper-left-nav > *,
            .upper-right-nav > *,
            .nav-link {
                display: inline-block;
                padding: 8px 12px;
            }
            .nav-link:hover {
                background-color: rgb(0, 0, 0, 0.2);
            }
            .upper-left-nav img {
                margin: 0 15px;
            }
            a,
            span {
                text-decoration: none;
                color: $light;
            }
            .upper-right-nav {
                img {
                    margin-left: 3px;
                }
            }
        }
        .bottom-nav {
            padding: 20px 0 10px 0;

            .bottom-nav-wrapper {
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                h3 {
                    a {
                        text-decoration: none;
                        font-size: 1.3em;
                        color: black;
                        display: inline-block;
                    }
                }

                .bottom-nav-links {
                    text-align: left;

                    a {
                        color: #222;
                        text-decoration: none;
                        display: inline-block;
                        padding: 10px 20px;
                        font-family: "Poppins", sans-serif;
                        &:hover {
                            color: $red;
                            border-bottom: 1px solid $red;
                        }
                    }
                }

                .bottom-nav-searchbar {
                    @include flex();
                    gap: 0;

                    input,
                    button {
                        border-radius: 0;
                        position: relative;
                    }
                    input {
                        color: gray;
                        height: 48px;
                        width: 250px;
                        border-right: none;
                        border: 1px solid $red-t;
                        bottom: 2px;

                        &:focus {
                            color: black;
                            border-color: $red;
                        }
                    }
                    button {
                        width: 55px;
                        background-color: $red;
                        height: 48px;
                        border: none;
                        bottom: 2px;
                        &:hover {
                            outline: 5px solid $red-t;
                        }
                        img {
                            position: relative;
                            right: 3px;
                        }
                    }
                }
            }
        }
    }
}
