@import "settings";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

button,
input {
    border-radius: 10px;
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 20px;
}

button {
    cursor: pointer;
    text-decoration: none;

    @include flex();

    &:hover {
        transform: scale(0.95);
        color: snow;
    }

    &:active {
        transform: scale(0.8);
    }
}

button.green {
    background-color: $green;
    color: $white;

    &:hover {
        background-color: darken($green, 10%);
        outline: 3px solid $green-t;
        box-shadow: 1px 1px 10px $green;
    }
}

button.red {
    background-color: $red;
    color: $white;

    &:hover {
        background-color: darken($red, 10%);
        outline: 3px solid $red-t;
        box-shadow: 1px 1px 10px $red;
    }
}

button.gray {
    background-color: $gray;
    color: $white;

    &:hover {
        background-color: darken($gray, 10%);
        outline: 3px solid $gray-t;
        box-shadow: 1px 1px 10px $gray;
    }
}

button.violet {
    background-color: $violet;
    color: $white;

    &:hover {
        background-color: darken($violet, 10%);
        outline: 3px solid $violet-t;
        box-shadow: 1px 1px 10px $violet;
    }
}

h1 {
    font-size: 3rem;
    font-family: "Sofia", sans-serif;
}

h2 {
    font-size: 2.5rem;
    font-family: "Sofia", sans-serif;
}