@import "settings";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

button,
input {
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
}
button {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;

    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transform: scale(0.9);
        text-decoration: none;
        color: snow;
    }
    &:active {
        transform: scale(0.6);
    }
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
